
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

div {
    text-align: center;
}

img {
    display: flex;
    margin: auto;
    width: 200px;
    height: auto;
}

p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(0, 103, 194);
    color: white;
}

a {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: block;
    margin-top: 40px;
    color: rgb(0, 103, 194);
    text-decoration: none;
}

